.navbar{
    padding: 30px 40px 0px 40px;
    height: 96px;
}

.button {
    background-color: inherit;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.location_input{
    width: 50%;
    height: 75%;
}

#signin_btn, #logout_btn{
    border-radius: 10%;
    margin-right: 1%;
    margin-top: 1%;
    right: 0;
    top: 0%;
    width: 100%;
    position: relative;
}

#uber-eats-signin-img{
    margin-left: 15%;
}