.customer_location_input{
    width: 25%;
    height: 50%;
    border-radius: 25px;
    border-style: none;
    background-color: #EEEEEE;
    padding-left: 1%;
}

.food_input{
    width: 25%;
    height: 75%;
    background-color: #EEEEEE;
    border-style: none;
    padding-left: 1%;
}

#cart{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.restaurant_search{
    width : 50%
}

.pagination {
    justify-content: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 2%;
    display: flex;
    justify-content: center;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: black;
  }
  
  ul.pagination li.active a {
    color: white;
  }
  ul.pagination li.active {
    background-color: black;
  }