.center-div{
    margin : 8% 0% 0% 35%;
}

#signin_form , #signup_form{
    position: relative;
    margin-top: 10%;
}

#login_btn , #signup_btn{
    width: 49%;
    margin-top:1%;
}

button {
    background-color: inherit;
    border: 1px solid;
    padding: 5pt;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 100%;
    border-radius: 10px;
}

input:focus { 
    outline: none !important;
}
